# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
release/
bin/

# Environment variables & Secrets
.env
.env.*
release_*
spotify_cache/
.local-node/
local-env.ps1
rustup-init.exe

# Data & Logs
data/*.db
data/*.sqlite
data/*.json
data/*.txt
data/cookies.txt
!data/example.db
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
